body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.container {
  width: 400px;
  margin: 80px auto; /* INI YANG BIKIN KE TENGAH */
  background: #00c5fb;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

form {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

ul {
  padding: 0;
  margin-top: 20px;
}

li {
  list-style: none;
  background: #ffffff;
  margin-bottom: 10px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

li div button {
  margin-left: 5px;
}
